
<ngx-spinner type="ball-scale-multiple">


  
</ngx-spinner>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row mb-4 mt-4">
        <div class="col">
          <h2 class="mb-4">Tickets</h2> <!-- Title added -->
          <!-- Empty column to push the "Ajouter Ticket" button to the right -->
        </div>
        <div class="col-auto">
          <button class="btn btn-rounded mt-4   btn-success"  routerLink="/ajouterticket">Ajouter Ticket</button> <!-- Button aligned to the right -->
        </div>
      </div>
      <table class="table">
        <thead class="bg-primary text-white"> <!-- Added classes bg-primary and text-white -->
          <tr>
            <th>Summary</th>
            <th>Key</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Type</th>
            <th>Complexity</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="border border-primary"> <!-- Added classes border and border-primary -->
          <tr *ngFor="let ticket of tickets" [class.bg-light]="ticket.fields.customfield_10016 === null">
            <td>{{ ticket.fields.summary }}</td>
            <td>{{ ticket.key }}</td>
            <td>{{ ticket.fields.description }}</td>
            <td>{{ ticket.fields.priority.name }}</td>
            <td>{{ ticket.fields.issuetype.name }}</td>
            <td>{{ ticket.fields.customfield_10016 }}</td>
            <td>{{ ticket.fields.created }}</td>
            <td>{{ ticket.fields.updated }}</td>
            <td>
              <button class="btn btn-rounded btn-primary m-2"  [routerLink]="['/updateticket', ticket.key]">Update</button>
              <button class="btn btn-rounded btn-danger m-2" (click)="deleteIssue(ticket.key)">Delete</button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
