<body>
<div class="main-wrapper">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->

  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Login box.scss -->
  <!-- ============================================================== -->
  <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
       style="background:url(../assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box row text-center">
      <div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url(../assets/images/big/11.jpg);">
      </div>
      <div class="col-lg-5 col-md-7 bg-white">
        <div class="p-3">
          <img src="../assets/images/icon.png" alt="wrapkit">
          <h2 class="mt-3 text-center">Sign Up for Free</h2>
          <form class="mt-4"   *ngIf="!isSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group mb-3">
                  <label class="form-label text-dark" for="username" >Username</label>
                  <input  class="form-control" type="text" placeholder="your name"   type="text"
                          class="form-control"
                          name="username"
                          [(ngModel)]="form.username"
                          required
                          minlength="3"
                          maxlength="20"
                          #username="ngModel"
                          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"/>
                  <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
                    <div *ngIf="username.errors['required']">Username is required</div>
                    <div *ngIf="username.errors['minlength']">
                      Username must be at least 3 characters
                    </div>
                    <div *ngIf="username.errors['maxlength']">
                      Username must be at most 20 characters
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group mb-3">
                  <label class="form-label text-dark" for="email" >Email</label>

                  <input class="form-control" type="email" placeholder="email address"  type="email"
                         class="form-control"
                         name="email"
                         [(ngModel)]="form.email"
                         required
                         email
                         #email="ngModel"
                         [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
                  />
                  <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors['required']">Email is required</div>
                    <div *ngIf="email.errors['email']">
                      Email must be a valid email address
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group mb-3">
                  <label class="form-label text-dark" for="password"  >Password</label>
                  <input  class="form-control" type="password" placeholder="password"   type="password"
                          class="form-control"
                          name="password"
                          [(ngModel)]="form.password"
                          required
                          minlength="6"
                          #password="ngModel"
                          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
                  />
                  <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
                    <div *ngIf="password.errors['required']">Password is required</div>
                    <div *ngIf="password.errors['minlength']">
                      Password must be at least 6 characters
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 text-center">
                <button type="submit"  class="btn w-100 btn-dark">Sign Up</button>
              </div>
              <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                Signup failed!<br />{{ errorMessage }}
              </div>
              <div class="col-lg-12 text-center mt-5">
                Already have an account? <a href="login" class="text-danger">Sign In</a>
              </div>
            </div>
          </form>
          <div class="alert alert-success" *ngIf="isSuccessful">
            Your registration is successful!
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Login box.scss -->
  <!-- ============================================================== -->
</div>
