<div class="p-float-label">
  <input type="text" id="username" pInputText [(ngModel)]="username"/>
  <label for="username">Username</label>
</div>

<p-toast></p-toast>

<div class="page-breadcrumb">
  <div class="row">
    <div class="col-7 align-self-center">
      <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Chat</h4>
    </div>
    <div class="col-5 align-self-center">
      <!-- Search Form -->
      <div class="customize-input float-end">
        <form>
          <div class="customize-input">
            <input class="form-control custom-shadow custom-radius border-0 bg-white" type="search" placeholder="Search" aria-label="Search">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Chat Interface -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row g-0">
          <div class="col-lg-9  col-xl-12">
            <!-- Chat Box -->
            <div class="chat-box scrollable position-relative" style="height: calc(100vh - 111px);">
              <ul class="chat-list list-style-none px-3 pt-3">
                <ng-container *ngFor="let message of allMessagesSortedByTime()">
                  <li *ngIf="message.sender === username; else receivedMessage" class="chat-item odd list-style-none mt-3">
                    <div class="chat-content text-end d-inline-block ps-3">
                      <div class="box msg p-2 d-inline-block mb-1">{{message.content}}</div>
                    </div>
                    <div class="chat-time text-end d-block font-10 mt-1 mr-0 mb-3">{{message.dateTime | date: 'dd.MM.yyyy hh:mm:ss'}}</div>
                    <button class="btn btn-sm btn-link" (click)="editMessage(message)">
                      <i class="fas fa-pencil-alt"></i> Edit
                    </button>

                  </li>
                  <ng-template #receivedMessage>
                    <li class="chat-item list-style-none mt-3">
                      <div class="chat-img d-inline-block">
                        <img src="../assets/images/users/3.jpg" alt="user" class="rounded-circle" width="45">
                      </div>
                      <div class="chat-content d-inline-block ps-3">
                        <h6 class="font-weight-medium">{{message.sender}}</h6>
                        <div class="msg p-2 d-inline-block mb-1">{{message.content}}</div>
                      </div>
                      <div class="chat-time d-block font-10 mt-1 mr-0 mb-3">{{message.dateTime | date: 'dd.MM.yyyy hh:mm:ss'}}</div>
                    </li>
                  </ng-template>
                </ng-container>
              </ul>
            </div>
            <!-- Message Input -->
            <div class="card-body border-top">
              <div class="row">
                <div class="col-9">
                  <div class="input-field mt-0 mb-0">
                    <input placeholder="Type and press enter" type="text" id="content" pInputText [(ngModel)]="content" class="form-control border-0" (keydown.enter)="sendMessage()">
                  </div>
                </div>
                <div class="col-3">
                  <a class="btn-circle bg-cyan float-end text-white d-flex align-items-center justify-content-center" (click)="sendMessage()"><i class="fas fa-paper-plane"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
