.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.reply-input {
  width: 28%;
}

.custom-container-fluid {
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.customize-input {
  margin-right: 50px;
}



