<div class="container">
  <h2 class="mb-4 mt-4">Update Ticket</h2> <!-- Title added -->
  <div class="card">
    <div class="card-body">
      <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
        <div class="form-group" formGroupName="fields">
          <label for="summary">Summary</label>
          <input
            type="text"
            class="form-control"
            id="summary"
            formControlName="summary"
            [ngClass]="{ 'is-invalid': ticketForm.get('fields.summary')?.invalid && ticketForm.get('fields.summary')?.touched }"
          />
          <div *ngIf="ticketForm.get('fields.summary')?.invalid && ticketForm.get('fields.summary')?.touched" class="invalid-feedback">
            Summary is required.
          </div>
        </div>
        <div class="form-group" formGroupName="fields">
          <label for="customfield_10016">Complexity</label>
          <input
            type="number"
            class="form-control"
            id="customfield_10016"
            formControlName="customfield_10016"
          />
        </div>
        <ng-container formGroupName="fields">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              id="description"
              formControlName="description"
              [ngClass]="{ 'is-invalid': ticketForm.get('fields.description')?.invalid && ticketForm.get('fields.description')?.touched }"
            ></textarea>
            <div *ngIf="ticketForm.get('fields.description')?.invalid && ticketForm.get('fields.description')?.touched" class="invalid-feedback">
              Description is required.
            </div>
          </div>
          <div class="form-group">
            <ng-container formGroupName="issuetype">
              <label for="issuetype">Issue Type</label>
              <select
                class="form-control custom-select"
                id="issuetype"
                formControlName="name"
                [ngClass]="{ 'is-invalid': ticketForm.get('fields.issuetype.name')?.invalid && ticketForm.get('fields.issuetype.name')?.touched }"
              >
                <option value="" disabled selected>Choose Task</option>
                <option value="Bug">Bug</option>
                <option value="Story">Story</option>
                <option value="Task">Task</option>
              </select>
              <div *ngIf="ticketForm.get('fields.issuetype.name')?.invalid && ticketForm.get('fields.issuetype.name')?.touched" class="invalid-feedback">
                Issue Type is required.
              </div>
            </ng-container>
          </div>
        </ng-container><br>
        <div class="row">
          <div class="col-md-2">
            <button class="btn btn-rounded btn-light col-md-12 mb-2" routerLink="/affichertickets">Return to ticket list</button>
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-rounded btn-primary  col-md-12" [disabled]="ticketForm.invalid">Update Ticket</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
