<p>afficher-projet works!</p>

<ngx-spinner type="ball-scale-multiple">
  
</ngx-spinner>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row mb-4 mt-4">
        <div class="col">
          <h2 class="mb-4">Projets</h2> <!-- Title added -->
          <!-- Empty column to push the "Ajouter Ticket" button to the right -->
        </div>
        <div class="col-auto">
          <button class="btn btn-rounded mt-4   btn-success"  routerLink="/ajouterprojet">Ajouter Projet</button> <!-- Button aligned to the right -->
        </div>
      </div>
        <div style="overflow-x: auto;">
            <table class="table" witdh = "80px">
                <thead class="bg-primary text-white"> <!-- Added classes bg-primary and text-white -->
                <tr>
                    <th>title</th>
                    <th>goal</th>
                    <th>date of start</th>
                    <th>date of finish</th>
                    <th>duree</th>
                    <th>constraints</th>
                    <th>requirements</th>
                    <th>dependancies</th>
                    <th>budget</th>
                    <th>status</th>
                    <th>algorithme</th>
                </tr>
                </thead>
                <tbody class="border border-primary"> <!-- Added classes border and border-primary -->
                    <tr *ngFor="let projet of projets">
                        <td>{{ projet.titre }}</td>
                        <td>{{ projet.objectif }}</td>
                        <td>{{ projet.date_debut }}</td>
                        <td>{{ projet.date_fin }}</td>
                        <td>{{ projet.duree }}</td>
                        <td>{{ projet.contraintes }}</td>
                        <td>{{ projet.exigences }}</td>
                        <td>{{ projet.dependance }}</td>
                        <td>{{ projet.budget }}</td>
                        <td>{{ projet.status }}</td>
                        <td>{{ projet.algo }}</td>

                        <td>
                            <button class="btn btn-rounded btn-primary m-2"  [routerLink]="['/showprojet', projet.id]">Show</button>
                        <button class="btn btn-rounded btn-primary m-2"  [routerLink]="['/updateprojet']">Update</button>
                        <button class="btn btn-rounded btn-danger m-2" (click)="deleteProjet(projet.id)">Delete</button>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
